extends layout

block head
  link(rel="stylesheet", href="/styles/recipe.css")
  //- script.
  //-   window.onload = function() {
  //-     console.log("Inline JS loaded");
  //-     var bg = document.getElementById("bg");
  //-     window.onresize = function() {
  //-       console.log(bg.offsetHeight);
  //-       if (bg.offsetHeight < 240) {
  //-         bg.style.width = "auto";
  //-         bg.style.height = "240px";
  //-       } else {
  //-         bg.style.width = "100%";
  //-         bg.style.height = "auto";
  //-       }
  //-       console.log(bg.offsetHeight);
  //-     }
  //-   }

block content
  header.text-light
    a(href="../")
      i.material-icons.md-light arrow_back
    spacer
    i.material-icons.md-light more_vert
  content
    img.background(src="../" + recipe.imageURL)
    .page
      h1= recipe.title
       -
        function parseTime(time) {
          var parsed = "";
          if (time >= 60 && time % 60 != 0) {
            parsed += Math.floor(time / 60) + "h ";
            parsed += (time % 60) + "m";
          } else if (time % 60 == 0) {
            parsed += time + "h";
          } else {
            parsed += time + "m";
          }
          return parsed;
        }
      .text-secondary #{recipe.author} - #{parseTime(recipe.time)}
      p.text-secondary #{recipe.description}
      .ingredients
        each ingredient in recipe.ingredients
          .ingredient
            .amount.text-accent= ingredient.amount
            .name= ingredient.name
      each step in recipe.method
        p= step